BasedOnStyle: LLVM
Language: Cpp
Standard: c++11

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

AlwaysBreakAfterReturnType: None
BinPackParameters: true
BinPackArguments: true

PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"eos/'
    Priority: 1
  - Regex: '^"'
    Priority: 2
  - Regex: '^<'
    Priority: 3

AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignTrailingComments: true

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
